<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form #formRegister="ngForm" (ngSubmit)="onSubmit()" id="form-register" class="form" action=""
                        method="post">
                        <h3 class="text-center text-info pb-4">Regístrate</h3>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-10">
                                    <label class="text-info">
                                        Nombre*
                                        <span *ngIf="!nombre.valid && nombre.touched" class="badge badge-danger">Este
                                            campo
                                            es incorrecto o esta vacio</span>
                                    </label>
                                </div>
                                <div class="col-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-10">
                                    <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="usuario.nombre"
                                        class="form-control" required pattern="[a-zA-Z0-9 ]{3,30}">
                                </div>
                                <div class="col-1 content-icon-check">
                                    <span *ngIf="nombre.valid">
                                        <img src="../../../../assets/icons/icon-check.png" class="icon-check" alt="...">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-10">
                                    <label class="text-info">
                                        Correo electrónico*
                                        <span *ngIf="!email.valid && email.touched" class="badge badge-danger">Este
                                            campo
                                            es incorrecto o esta vacio</span>
                                    </label>
                                </div>
                                <div class="col-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-10">
                                    <input type="email" #email="ngModel" name="email" [(ngModel)]="usuario.email"
                                        class="form-control" required>
                                </div>
                                <div class="col-1 content-icon-check">
                                    <span *ngIf="email.valid">
                                        <img src="../../../../assets/icons/icon-check.png" class="icon-check" alt="...">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-10">
                                    <label class="text-info">
                                        Contraseña*
                                        <span *ngIf="!password.valid && password.touched"
                                            class="badge badge-danger">Este campo
                                            es incorrecto o esta vacio</span>
                                    </label>
                                </div>
                                <div class="col-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-10">
                                    <input type="password" #password="ngModel" name="password"
                                        [(ngModel)]="usuario.password" class="form-control" required
                                        pattern="[A-Za-z0-9]{5,20}" maxlength="20">
                                </div>
                                <div class="col-1 content-icon-check">
                                    <span *ngIf="password.valid">
                                        <img src="../../../../assets/icons/icon-check.png" class="icon-check" alt="...">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3 text-center">
                            <button type="submit" [disabled]="!formRegister.form.valid"
                                class="btn btn-info mt-2 mb-5">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>