<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6 mt-5 mb-5 pt-5 pb-5">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-info pb-4">Inicio sesión</h3>
                        <div class="form-group">
                            <label class="text-info">Correo electrónico:</label><br>
                            <input type="email" [(ngModel)]="loginUsuario.email" name="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Contraseña:</label><br>
                            <input type="password" [(ngModel)]="loginUsuario.password" name="password" class="form-control">
                        </div>
                        <div id="" class="text-center pt-3">
                            <label for="remember-me" class="text-info mb-3"><span>Recordar contraseña</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label>
                            <br>
                            <span>¿No estás registrado/a? <a href="#" class="text-info" [routerLink]="['/register']">Hazlo aquí</a></span>
                        </div>
                        <div class="form-group mt-3 text-center">
                            <input type="submit" name="submit" (click)="login()" class="btn btn-info btn-md btn-block" value="Entrar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>