<div class="container border shadow p-3 mb-5 bg-white rounded">
    <h3 class="mt-3">Editar este animal</h3>
    <form #formAnimal="ngForm" (ngSubmit)="onSubmit()" id="form-animal">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>
                    Nombre*
                    <span *ngIf="!nombre.valid && nombre.touched" class="badge badge-danger">Este campo es
                        obligatorio</span>
                </label>
                <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="animal.nombre" class="form-control"
                    required id="">
            </div>
            <div class="form-group col-md-6">
                <label>
                    Edad*
                    <span *ngIf="!edad.valid && edad.touched" class="badge badge-danger">Este campo no es
                        correcto</span>
                </label>
                <input type="text" #edad="ngModel" name="edad" [(ngModel)]="animal.edad" class="form-control" required
                    pattern="[0-9]+" maxlength="2" id="">
            </div>
            <div class="form-group col-md-6">
                <label>
                    Tamaño*
                    <span *ngIf="!tamanio.valid && tamanio.touched" class="badge badge-danger">Este campo es
                        obligatorio</span>
                </label>
                <input type="text" #tamanio="ngModel" name="tamanio" [(ngModel)]="animal.tamanio" class="form-control"
                    required id="">
            </div>
            <div class="form-group col-md-6">
                <label>
                    Sexo*
                    <span *ngIf="!sexo.valid && sexo.touched" class="badge badge-danger">Este campo es
                        obligatorio</span>
                </label>
                <input type="text" #sexo="ngModel" name="sexo" [(ngModel)]="animal.sexo" class="form-control" required
                    id="">
            </div>
            <div class="form-group col-md-6">
                <label>Vacunas</label>
                <input type="text" #vacunas="ngModel" name="vacunas" [(ngModel)]="animal.vacunas" class="form-control"
                    id="">
            </div>
            <!--<div class="form-group col-md-6">
                <label>Raza</label>
                <input type="text" #raza="ngModel" name="raza" [(ngModel)]="animal.raza" class="form-control" id="">
            </div>
            <div class="form-group col-md-6">
                <label>Provincia</label>
                <input type="text" #provincia="ngModel" name="provincia" [(ngModel)]="animal.provincia" class="form-control" id="">
            </div>-->
            <div class="form-group col-md-6">
                <label>
                    Descripción*
                    <span *ngIf="!descripcion.valid && descripcion.touched" class="badge badge-danger">Este campo es
                        obligatorio</span>
                </label>
                <textarea #descripcion="ngModel" name="descripcion" [(ngModel)]="animal.descripcion"
                    class="form-control" required id=""></textarea>
            </div>
            <div class="form-group col-md-6">
                <label>Imagen actual</label>
                <div *ngIf=is_edit>
                    <img src="http://localhost:8080/Angular/blopet/uploads/{{animal.imagen}}"
                        class="animal_imagen img-fluid pt-2 pr-4 pb-3" alt="...">
                </div>
                <input type="file" class="form-control" (change)="fileChangeEvent($event)">
            </div>
        </div>
        <button type="submit" [disabled]="!formAnimal.form.valid" class="btn btn-info mt-2 mb-5">Modificar</button>
    </form>
</div>