.img-relleno{
  background: gray;
  width: 100%;
  height: 200px;
}

.img-container{
  width: 100%;
  height: 180px;
  overflow: hidden;
  padding: 8px;
}

.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 0;
}
/*
.fondo{
  background: linear-gradient(rgba(255, 255, 255, 0.096), rgba(255, 255, 255, 0.411)), url("../../../assets/images/fondo.jpg");
}
*/

.card{
  width: 17rem;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: white;
    color: black;
    border-bottom: 4px solid #17a2b8;
  }

.my-pagination /deep/ .ngx-pagination {
    margin-top: 50px;
    text-align: center;
}

  .img-container{
    width: 100%;
    height: 180px;
    overflow: hidden;
    border: 0;
    padding: 8px;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 0;
}

.img-animal:hover{
  filter: opacity(.5);
  transition:all .5s ease-in-out;
}

@media (max-width: 575.98px) { 
  .container{
      width: 95%;
  }

  .card{
      width: 20rem;
  }
}

.backButton{
  cursor: pointer;
}

.padding {
  padding: 10px;
}

.lista {
  cursor: pointer;
  font-size: 14px;
}

.lista img {
  margin-bottom: 2px;
}

.masDetalles {
  font-size: 10px;
  text-decoration: none;
  color: black;
}

.fondoMasDetalles {
  background: linear-gradient(#ffffff00, #efefef);
  border-radius: .25rem;
}

.fontSize-10 {
  font-size: 12px;
  font-weight: bold;
}