
<div class="container border shadow mb-5 mt-5 pb-5 pt-5 bg-white">
    <span (click)="goBack()" class="backButton"><img src="../../../assets/icons/icon-back.png" width="25px" height="25px"></span>
    <h3 class="pb-3 text-info text-center"><img src="../../../assets/icons/icon-pet.png" width="25px" height="25px"> Añade una mascota <img src="../../../assets/icons/icon-pet.png" width="25px" height="25px"></h3>
    <form #formAnimal="ngForm" (ngSubmit)="onSubmit()" id="form-animal">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>
                    Nombre*
                    <span *ngIf="!nombre.valid && nombre.touched" class="badge badge-danger">Este campo es
                        obligatorio</span>
                </label>
                <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="animal.nombre" class="form-control"
                    required placeholder="Nombre mascota...">
            </div>
            <div class="form-group col-md-6">
                <label>
                    Edad*
                    <span *ngIf="!edad.valid && edad.touched" class="badge badge-danger">Este campo no es
                        correcto</span>
                </label>
                <select #edad="ngModel" name="edad" [(ngModel)]="animal.edad" class="form-control" required>
                    <option selected value="">--Selecciona una opción</option>
                    <option *ngFor="let edad of edades">
                        {{edad.nomEdad}}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>
                    Tamaño*
                    <span *ngIf="!tamanio.valid && tamanio.touched" class="badge badge-danger">Este campo es
                        obligatorio</span>
                </label>
                <select #tamanio="ngModel" name="tamanio" [(ngModel)]="animal.tamanio" class="form-control" required>
                    <option selected value="">--Selecciona una opción</option>
                    <option *ngFor="let tam of tamanios">
                        {{tam.nomTamanio}}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>
                    Sexo*
                    <span *ngIf="!sexo.valid && sexo.touched" class="badge badge-danger">Este campo es
                        obligatorio</span>
                </label>
                <select #sexo="ngModel" name="sexo" [(ngModel)]="animal.sexo" class="form-control" required>
                    <option selected value="">--Selecciona una opción</option>
                    <option *ngFor="let sex of sexos">
                        {{sex.nomSexo}}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>Vacunas</label>
                <input type="text" #vacunas="ngModel" name="vacunas" [(ngModel)]="animal.vacunas" class="form-control" placeholder="Enumeralas brevemente">
            </div>
            <div class="form-group col-md-6">
                <label>
                    Selecciona una provincia*
                    <span *ngIf="!provincia.valid && provincia.touched" class="badge badge-danger">Este campo es
                        obligatorio</span>
                </label>
                <select #provincia="ngModel" name="provincia" [(ngModel)]="animal.provincia" class="form-control" required>
                    <option selected value="">--Selecciona una opción</option>
                    <option *ngFor="let prov of provincias">
                        {{prov.nomProvincia}}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>
                    Tipo de animal doméstico*
                    <span *ngIf="!tipo.valid && tipo.touched" class="badge badge-danger">Este campo es
                        obligatorio</span>
                </label>
                <select #tipo="ngModel" name="tipo" [(ngModel)]="tipoSeleccionado" [(ngModel)]="animal.tipo" class="form-control" required>
                    <option selected value="">--Selecciona una opción</option>
                    <option *ngFor="let type of tipoAnimal" [value]=type.id>
                        {{type.nomTipo}}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>Raza*</label>
                <div *ngIf="tipoSeleccionado == 0">
                    <select #raza="ngModel" name="raza" [(ngModel)]="animal.raza" class="form-control" disabled>
                        <option value="" selected>--Selecciona un tipo animal doméstico</option>
                    </select>
                </div>
                <div *ngIf="tipoSeleccionado == 1">
                    <select #raza="ngModel" name="raza" [(ngModel)]="animal.raza" class="form-control" required>
                        <option value="" selected>--Selecciona una raza de perro</option>
                        <option *ngFor="let razPe of razasPerro">
                            {{razPe.nomRaza}}
                        </option>
                    </select>
                </div>
                <div *ngIf="tipoSeleccionado == 2">
                    <select #raza="ngModel" name="raza" [(ngModel)]="animal.raza" class="form-control" required>
                        <option value="" selected>--Selecciona una raza de gato</option>
                        <option *ngFor="let razGa of razasGato">
                            {{razGa.nomRaza}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>
                    Descripción*
                    <span *ngIf="!descripcion.valid && descripcion.touched" class="badge badge-danger">Este campo es
                        obligatorio</span>
                </label>
                <textarea #descripcion="ngModel" name="descripcion" [(ngModel)]="animal.descripcion"
                    class="form-control" required placeholder="Escribe algo..."></textarea>
            </div>
            <div class="form-group col-md-6">
                <label>Imagen</label>
                <input type="file" class="form-control" (change)="fileChangeEvent($event)" required>
            </div>
        </div>
        <button type="submit" [disabled]="!formAnimal.form.valid" class="btn btn-info mt-2 mb-3 d-block mx-auto">Guardar</button>
    </form>
</div>