.fila-principal{
    margin-top: 22vh;
    margin-bottom: 22vh;
    border-radius: 6px;
}

.text-success{
    font-size: 14px;
}

.background{
    background-image: url("../../../../assets/images/dogs.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px 0 0 6px;
}