<div class="container">
    <div class="row fila-principal border shadow"> 
        <div class="col-7 background">
            <div class="container pt-5">
                <div class="text-center">
                    <p class="text-white h5">Hola, Bienvenido/a a tu perfil de Blopet.<br>
                        Gracias por registrarte.</p>
                    <img class="blopet mb-3 mt-4" src="../../../assets/images/blopet.png" alt="" width="35%">
                    <h1 class="mb-5 text-white">Encuentra a tu <span class="text-info">mascota</span> ideal</h1>
                </div>
            </div>
        </div>
        <div class="col-5 d-flex justify-content-center align-self-center">
            <div class="row">
                <div class="col-4 align-self-center">
                    <img src="../../../../assets/images/icon-checked-user.png" class="" alt="...">
                </div>
                <div class="col-8 border-left">
                    <h5 class="text-info">Perfil de usuario</h5>
                    <p class="text-success"><b>Conectado</b></p>
                    <p class="text-capitalize"><b>Nombre:</b> {{nombre}}</p>
                    <p class=""><b>Email:</b> {{email}}</p>
                </div>
            </div>
        </div>
    </div>
</div>