<div class="container d-flex justify-content-center">
    <div class="row border rounded pt-3 pb-2 pr-2 pl-2">
        <div class="col-4">
            <img src="../../../../assets/images/icon-checked-user.png" class="" alt="...">
        </div>
        <div class="col-8 border-left">
            <h5 class="text-info">Perfil de usuario</h5>
            <p class="text-success"><b>Conectado</b></p>
            <p class="text-capitalize"><b>Nombre:</b> {{nombre}}</p>
            <p class=""><b>Email:</b> {{email}}</p>
        </div>
    </div>
</div>